@import url("../webfonts/Lato_Regular/stylesheet.css");
@import url("../webfonts/Lato_Bold/stylesheet.css");
/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
    overflow-x: hidden;
    font-family: "Lato Regular";
    color: #505962;
}
.text-nuno {
   color: #1EBBA3;
}
/*--- Nav Scrolling Offset --*/
.offset-section-top {
    margin-top: 90px;
}

/*--- Extra Bootstrap Column Padding --*/


/*============= NAVIGATION =============*/
.navbar-brand img {
    height: 2rem;
}
.navbar {
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-family: "Lato Bold";
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
   transition: background-color .5s ease;
}

.navbar-nav li {
    padding-right: 0.8rem;
}

.navbar-nav .nav-link {
    color: white;
    padding-top: 0.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #1EBBA3;
}

.custom-toggler-icon {
    color: white;
    font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
    background: rgba(0,0,0,0.70)!important;
    transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}

button, a, a.btn {
    transition: all 0.6s ease;
}
/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.home-inner {
    background-image: url("../img/computers.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.banner-btn {
  width: 200px;
  padding: 15px;
  font-family: 'RobotoCondensed Regular', sans-serif;
  font-size: 17px;
  text-transform: uppercase; 
  letter-spacing: 1px;
  background: transparent;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  transition: transform .3s;
}

.banner-btn:hover {
    color: #1EBBA3;
    background-color: rgba(255,255,255,0.10);
    transition: transform .2s;
}

.arrow {
    font-size: 25px;
    /* [disabled]margin-bottom: 30px; */
    animation: anim 3s infinite;
}

@keyframes anim {
  0% {transform: translateY(0)}
  20% {transform: translateY(0)}
  40% {transform: translateY(-30px)}
  50% {transform: translateY(0)}
  60% {transform: translateY(-15px)}
  80% {transform:  translateY(0)}
  100% {transform: translateY(0)}
}
/*-- Landing Page Caption --*/
.caption {
    z-index: 1;
    position: absolute;
    top: 28%;
    width: 100%;
    max-width: 100%;
}
.caption h1 {
    font-size: 4.0rem;
    text-decoration: underline;
    letter-spacing: 0.3rem;
    text-shadow: .1rem .1rem .8rem black;
    /* [disabled]padding-bottom: 1rem; */
}
.caption h3 {
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.caption btn-lg {
    border-width: medium;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
}
/*-- Bouncing Down Arrow --*/


/*============= FEATURES SECTION =============*/
.btn-sm {
    border-width: medium;
    borderradiu: 0;
    padding: .5rem 1.1rem;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 1rem;
}

.btn-nuno {
    background-color: #1EBBA3;
    color: white;
}

.btn-nuno:hover {
    background-color: #189582;
    color: white;
}

h3.heading {
    text-transform: uppercase;
    font-family: "Lato Bold";
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: 0.25rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    background-color: rgba(30,187,163,1.00);
}
/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/

.fixed {
   overflow: hidden; /*-- Included for iOS update --*/
}

/*============= PORTFOLIO SECTION =============*/


/*============= PRICING SECTION =============*/


/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/


/*============= SKILLS SECTION =============*/


/*============= CLIENTS SECTION =============*/


/*============= CONTACT SECTION =============*/


/*--- Contact Form --*/


/*============= TOP SCROLL =============*/


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */


/* Devices under 768px (md) */


/* Devices under 576px (sm) */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
.text-nuno {
    color: #1EBBA3;
}
.btn-outline-success {
    color: #1EBBA3;
    border-color: #1EBBA3;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #1EBBA3;
    border-color: #1EBBA3;
    transition: all 0.6s ease
}

/* selectpicker CSS section */
.search_select_box select {
    width: 100%;
}

.search_select_box button {
    /*    color: #fff !important;*/
    font-size: 15px;
    color: #1EBBA3 !important;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 15px;
}
