@import url("../webfonts/Lato_Regular/stylesheet.css");
@import url("../webfonts/Lato_Bold/stylesheet.css");
/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html{
    padding: env(safe-area-insert);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
    overflow-x: hidden;
    font-family: "Lato Regular";
    color: #505962;
}
/*--- Nav Scrolling Offset --*/

/*--- Extra Bootstrap Column Padding --*/


/*============= NAVIGATION =============*/
.navbar-brand img {
    height: 2rem;
}
.navbar {
    padding: 0.7rem 3rem;
    text-transform: uppercase;
    font-family: "Lato Bold";
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

.navbar-nav li {
    padding-right: 0.8rem;
}

.navbar-nav .nav-link {
    color: white;
    padding-top: 0.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #1EBBA3;
}

.custom-toggler-icon {
    color: white;
    font-size: 1.6rem;
}

/*-- Remove Button Outline --*/
button:focus, a:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
}

button, a, a.btn {
    transition: all 0.6s ease;
}
/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/

/*-- Landing Page Caption --*/

/*-- Bouncing Down Arrow --*/


/*============= FEATURES SECTION =============*/

.fixed {
   overflow: hidden; /*-- Included for iOS update --*/
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/


/*============= PORTFOLIO SECTION =============*/


/*============= PRICING SECTION =============*/


/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/


/*============= SKILLS SECTION =============*/


/*============= CLIENTS SECTION =============*/


/*============= CONTACT SECTION =============*/


/*--- Contact Form --*/


/*============= TOP SCROLL =============*/


/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */


/* Devices under 768px (md) */


/* Devices under 576px (sm) */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
.text-nuno {
    color: #1EBBA3;
}
.btn-outline-success {
    color: #1EBBA3;
    border-color: #1EBBA3;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #1EBBA3;
    border-color: #1EBBA3;
    transition: all 0.6s ease
}